body
{
	font-family:Franklin Gothic Medium;
	background: linear-gradient(#000,#120C23, #3A6073, #16222A,#120C23);
	color: white;
	scroll-behavior:smooth;
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    yellow 0%,
    lightblue 29%,
    white 67%,
    yellow 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 35px;
      position: relative;
  -webkit-box-reflect: below +5px linear-gradient(transparent, rgba(0,0,0,.3));
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.navbar-inverse
{
	background: #120C23;
}
.navbar-inverse .navbar-nav>li>a{
		font-size:15px;
		font-family:Baskerville Old Face;
		background-blend-mode:soft-light;
		color:white;	
}

.navbar-inverse .navbar-nav>li>a:hover
{
	color: yellowgreen;
	font-size:18px;
}
.navbar-nav li.active a {
    color: yellowgreen !important;
    background: transparent !important;
    border-bottom: 2px solid yellowgreen;
  }
 .affix{
			top:0px;
			width:100%;
			background: linear-gradient(#fff, #3A6073, #16222A);

			}

#banner
{
	padding-top: 150px;
	padding-left: 50px;
}
.word {
  margin: auto;
  color: ghostwhite;
  font: 700 normal 2.5em 'tahoma';
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
  position:absolute;
  top:150px;
}

button:hover, a:hover {
  opacity: 0.7;
}

#about 
{
	background: white;
	margin-top: 50px;
}
.abt 
{
	color:black;
	padding-top: 40px;
}
#img1
{
	height:400px;
	width:auto;
	border-left: 30px dashed dimgray;
	border-right: 30px dashed dimgray;
	margin-bottom: 20px;
}
.one
{
		font-size:20px;
		font-family:helvetica;
		padding-top:40px;
		padding-left:12px;
		line-height:43px;
		word-spacing:7px;
		color:grey;
		
}
#more
{
	display: none;
}
.edubox
{
	opacity:0.7;
	margin-top: 55px;
	background-color:black;
	border-radius: 20px;
	color:white;
	border: solid lightgray 5px;
	box-shadow: 0px 0px 10px 10px white;
  animation: mymove 4s infinite;
}

@keyframes mymove 
{
  from {background-color: #16222A;}
  to {background-color:#3A6096;}
}
	
.edubox>h2
{
	text-align:center;
}
.edubox:hover
{
	opacity:1.0;
	background:white !important;
	color:black;
	transform: scale(1.2);
}

#skill 
{
	margin-top:50px;
	background:grey;
	padding-bottom: 18px;
}
#box 
{
	width:100%;
	height:40px;
	margin-top:10px;	
	background: rgb(34, 34, 34);
	color:white;
	padding:10px;
	font-size:15px;
	font-weight:bolder;

}
#box>i 
{
	color:#42AD66;
	margin-right: 15px;
}



.hob
{
	font-family:Baskerville Old Face;
	font-weight:bold;
}

.img-circle
{
	height:200px;
	width:100%;
	margin-top:50px;
	opacity:0.5;
	box-shadow: 0px 20px 20px 0px;
}
.img-circle:hover
{
	opacity:1.0;
}
#hobbies img:hover
{
	transform: scale(1.1);
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}
#pro
{
	font-family:Baskerville Old Face;
}

#hobbies h3 
{
	margin-top: 30px;
	text-shadow: 7px 7px black;
}

/* portfolio CSS */

#portbtn
{
	width:70%;
	align-content: center;
	background:rgb(18, 23, 35);
	font-size:18px;
}
#portbtn.info 
{
  border-color: #2196F3;
  color: dodgerblue;
}

#portbtn.info:hover 
{
  background: #2196F3;
  color: white;
}
#portbtn.warning 
{
  border-color: #ff9800;
  color: orange;
}

#portbtn.warning:hover 
{
  background: #ff9800;
  color: white;
}

/* Red */
#portbtn.danger
{
  border-color: #f44336;
  color: red
}

#portbtn.danger:hover
{
  background: #f44336;
  color: white;
}
#portbtn.success
{
  border-color: #04AA6D;
  color: green;
}

#portbtn.success:hover
{
  background-color: #04AA6D;
  color: white;
}


.col-centered {
    float: none;
    margin: 0 auto;
}

.carousel-control { 
    width: 8%;
    width: 0px;
}
.carousel-control.left,
.carousel-control.right { 
    margin-right: 40px;
    margin-left: 32px; 
    background-image: none;
    opacity: 1;
}
.carousel-control > a > span {
    color: white;
	  font-size: 29px !important;
}

.carousel-col { 
    position: relative; 
    min-height: 1px; 
    padding: 5px; 
    float: left;
 }

 .active > div { display:none; }
 .active > div:first-child { display:block; }

/*xs*/
@media (max-width: 767px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-inner .active.left { left: -33%; }
  .carousel-inner .active.right { left: 33%; }
	.carousel-inner .next        { left:  33%; }
	.carousel-inner .prev		     { left: -33%; }
  .carousel-col                { width: 33%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
}

/*lg*/
@media (min-width: 1200px) {
  .carousel-inner .active.left { left: -25%; }
  .carousel-inner .active.right{ left:  25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		     { left: -25%; }
  .carousel-col                { width: 25%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
	.active > div:first-child + div + div + div { display:block; }
}

.block {
	width: 450px;
	height: 270px;
}

.red {background: red;}

.blue {background: blue;}

.green {background: green;}

.yellow {background: yellow;}

.modal .modal-body 
{    
    overflow-y: auto;
    max-height: 350px;
}

.modal-body img:hover
{
	transform: scale(1.3);
}

#m1 img
{
	height: 250px;
	width: 200px;
	border: 5px ridge blue;
	margin-top: 40px;
	border-radius: 15px;
	object-fit: contain;
}
#m2 img
{
	height: 250px;
	width: 200px;
	border: 5px ridge darkorange;
	margin-top: 40px;
	border-radius: 15px;
	object-fit: contain;
}
#m3 img
{
	height: 250px;
	width: 200px;
	border: 5px ridge purple;
	margin-top: 40px;
	border-radius: 15px;
	object-fit: contain;
}
#m4 img
{
	height: 250px;
	width: 200px;
	border: 5px ridge green;
	margin-top: 40px;
	border-radius: 15px;
	object-fit: contain;
}

#contact
{
	background: dimgray;
	margin-top: 80px;
	width: 89%;
}
#contact h1
{
	color: black;
}
#footer 
{
	margin-top:40px;
	padding-bottom: 20px;
	width:100%;
	background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
}

/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoInstagram:hover {
  background-color: #ac2bac;
  transform: scale(1.5);
}

.social-network a.icoLinkedin:hover {
  background-color: #0082ca;
  transform: scale(1.5);
}
.social-network a.icoFacebook:hover {
  background-color: #3b5998;
  transform: scale(1.5);
}

.social-network a.icoInstagram:hover i,
.social-network a.icoLinkedin:hover i ,
.social-network a.icoFacebook:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}

